body {
  background: #fafafa !important;
}

/** NAVIGATION **/

.navigation-menu {
  background: #0E4CC7;
  width: 100%;
  z-index: 2;
  padding: 10px;

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.94) !important;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
  }

  .navbar-nav li.nav-item {
    margin: 0px 15px;
  }

}

.home-page .navigation-menu {
  background: transparent !important;
  position: absolute !important;

}

.home-page .navigation-menu:hover {
  background: #0E4CC7;;
}

.responsive-tab {
  display: none;
  color: white;
}

/* * * * * *
*
*  ADMIN NAVBAR
*
 * * * * */

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.admin-main {
  margin-left: 260px;
  .indicator {
    margin: auto;
    width: 90%;
    padding: 30px;
    background: #d9d9d9;
    i.fa.fa-lock {
      font-size: 50px;
      margin: auto;
      width: 100%;
      text-align: center;
    }
    form {
      margin: auto;
    }
  }

  .navigation-list {
    button {
      background: transparent;
      border: 0px;
    }
  }
  .view-my-store {
    a {
      font-size: 2em;
      margin-right: 10px;
    }
  }
}

.admin-navigation {
  .sidebar.left {
    width: 250px;
    height: 100%;
    min-height: 800px;
  }

  .sidebar {
    position: absolute;
    background: #0E4CC7;

    ul {
      padding: 0px;

      li {
        list-style-type: none;
        padding: 20px;

        a {
          color: white;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .accordion {
    .card {
      background-color: transparent;
      border: 0px;
      border-radius: 0px;
      .card-header {
        border: 0px;
        background-color: transparent;
        padding: 0px;

        button {
          background: transparent;
          border: 0px;
          color: white;
          font-size: 1rem;
          padding: 0px;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }
  }
  .sidebar.top {
    margin-left: 250px;
    position: absolute;
    width: 100%;
  }
  .navbar {
    background: #0E4CC7;
    ul li {
      list-style-type: none;
      color: white;
    }
  }
}

/* * * * * *
*
*  HOME PAGE
*
 * * * * */

.main {
  .main-image {
    position: relative;
    text-align: center;
    img {
      max-width: 100%;
      z-index: -9999;
    }
    h1 {
      position: absolute;
      top: 35%;
      left: 40%;
      transform: translate(-40%, -50%);
      color: white;
      font-size: 5em;
      background: #0e4cc7ad;
      padding: 10px 10px 20px 10px;
      font-weight: 100;
    }
  }

  .dashboard-week-stats {
    .stat-box {

    }
    h5 {
      text-align: center;
    }

    .stat-week-sales {
      p {
        color: green;
        font-size: 30px;
        text-align: center;
      }
    }
  }

}

/* * * * * *
*
*  SIGN UP PAGE
*
 * * * * */

.signup-form {
  height: 100%;
  background: white;
  padding: 5px 30px;
  border: 1px solid #e8e8e8;
  margin-top: 50px;

  h1 {
    margin: 35px 0px;
    text-align: center;
  }
}

/* * * * *
*
* REPORTS PAGE
*
 */

.admin-reports {
  .report-filter {
    border: 1px solid #cdcaca;
    background: #dcdcdc;
    padding: 10px 0px;
  }

  .report-box {
    .box {
      height: 250px;
      text-align: center;

      p {
        color: #0e4cc7;
        font-size: 7vw;
      }
    }
  }
}

/* * * * *
*
* PRODUCT LIST
*
 */

.product-table {

  .thead-dark th {
    background-color: #0e4cc7;
    border-color: #0e4cc7;
  }

}

@media only screen and (max-width: 600px) {
  .admin-main {
    margin-left: 0px;
    .view-my-store a {
      font-size: 5vw;
    }
  }

  .admin-navigation {
    .sidebar.left {
      display: none;
      z-index: 9999;
    }
    .responsive-tab {
      display: block;
    }
  }

}

.ct-series-a {
  fill: #00a79d;
}

.ct-series-b {
  fill: #1c75bc;
}

.ct-series-c {
  fill: #92278f;
}

.ct-series-d {
  fill: #fbb040;
}

.ct-series-e {
  fill: #f15a29;
}

.ct-series-f {
  fill: #be1e2d;
}

.ct-label {
  fill: white;
}