img {
    max-width: 100%;
}

h1, h2 {
    font-weight: 100 !important;
}

/* * * * * *
*
*  NAVIGATION
*
 * * * * */

#top-bar {
    width: 100%;
    height: 45px;
    background: #cee0e9;
}

#top-bar p {
    color: rgba(0,0,0,.5);
    margin-right: 15px;
    margin-top: 10px;
}

#top-bar .navbar-brand {
    margin-left: 15px;
    color: rgba(0,0,0,.5);
}

.navigation-menu {
    background: transparent;
}

.home-page .navigation-menu {
    background: transparent !important;
}

.navigation-menu {
    width: 100%;
    z-index: 2;
    padding: 10px;
}

.home-page .navigation-menu:hover {
    background: #0E4CC7;
}

.navigation-menu .navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navigation-menu .navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: black;
}

.navigation-menu .navbar-nav li.nav-item {
    margin: 0px 15px;
    border-bottom: 0.5px solid #c2c2c2;
}

/* * * * * *
*
*  ADMIN NAVBAR
*
 * * * * */

.admin-main {
    margin-left: 275px;
}

.admin-navigation .sidebar.left {
    width: 250px;
    height: 100%;
}

.admin-navigation .sidebar {
    position: absolute;
    background: #0E4CC7;
}

.admin-navigation .sidebar ul {
    padding: 0px;
}

.admin-navigation .sidebar ul li{
    list-style-type: none;
    padding: 20px;
}

.admin-navigation .navbar ul li {
    list-style-type: none;
}

.admin-navigation .navbar {
    background:#0E4CC7;
}
.admin-navigation .sidebar ul li a, .navbar ul li {
    color: black;
}

.admin-navigation .sidebar ul li a:hover {
    text-decoration: none;
}


.admin-navigation .sidebar.top {
    margin-left: 250px;
    position: absolute;
    width: 100%;
}

.admin-main .indicator {
    margin: auto;
    width: 90%;
    padding: 30px;
    background: #d9d9d9;
}

.admin-main .indicator i.fa.fa-lock {
    font-size: 50px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.admin-main .indicator form {
    margin: auto;
}


/* * * * * *
*
*  HOME PAGE
*
 * * * * */


.main .main-image img {
    max-width: 100%;
    z-index: -9999;
}

.main .main-image {
    position: relative;
    text-align: center;
}

.main-image h1 {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-40%, -50%);
    color: black;
    font-size: 5em;
    background: #0e4cc7ad;
    padding: 10px 10px 20px 10px;
    font-weight: 100;
}

/* * * * * *
*
*  SIGN UP PAGE
*
 * * * * */

.signup-form h1 {
    margin: 35px 0px;
    text-align: center;
}

.signup-form {
    height: 80%;
    background: white;
    padding: 5px 30px;
    border: 1px solid #e8e8e8;
    margin-top: 50px;
}

/* * * * * *
*
*  PRODUCTS PAGE
*
 * * * * */

.product-list a {
    color: initial;
}
.product-list {
    margin-top: 100px;
}

.product-list h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
    font-weight: 100;
}

.product-list .product-image {
    text-align: center;
    height: 175px;
    overflow: hidden;
}

.product-wrapper {
    border-right: 1px solid #dbdbdb;
    padding: 10px;
    position: relative;
    height: 300px;
}

.product-list .product-wrapper .product-title p {
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align:center;
}

.product-list .product-wrapper .product-image img{
    max-height: 150px;
}
.product-list .product-wrapper .product-image img:hover {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
}
.product-price p {
    text-align: center;
}

.product-list .product-description {
    bottom:0;
    position: absolute;
    margin-bottom: 10px;
}

/* * * * * *
*
*  ITEM PAGE
*
 * * * * */
.item-container h1.item-title {
    margin-bottom: 50px;
}

.item-container h2 {
    border-bottom: 1px solid grey;
}

.item-container .item-image {
    padding: 10px;
}

/* * * * * *
*
*  BASKET PAGE
*
 * * * * */

.basket-container img {
    width: 150px;
}

.basket-container table td{
    vertical-align: middle;
}